<div class="container main-container ">
<div class="logo">
    <%= image_tag "logo.png", height: 50, width: 50, crop: :fill, class: 'empty card-trip-img' %>
  </div>
<h1 class="center">Beep Box </h1>
<p class="center">Find the best box for you!</p>
  <div class="row justify-content-center my-3">
    <div class="col-6 ">
      <%= simple_form_for :order  do |f| %>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Product</label>
        <!-- <select class="form-control" id="exampleFormControlSelect1">
          <% @products.each do |product| %>
            <option> <%= product.name%> </option>
          <% end %>
        </select> -->
        <%= f.input :product, collection: @products, label: false  %>
        <div>
          <span>Quantity </span>
          <%= f.input :quantity, label: false %>
        </div>
      </div>
      <%= link_to root_path do %>
        <%= f.button :submit, class: "btn btn-flat"%>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
